SECRET_KEY=django-insecure-aaref-bledek-2026-change-in-production
DEBUG=True
TIME_ZONE=Africa/Tunis
USE_SQLITE=True
DB_NAME=aaref_bledek
DB_USER=aaref_user
DB_PASSWORD=AarefBledek2026!
DB_HOST=localhost
DB_PORT=5432
DB_SSLMODE=require
DB_CONN_MAX_AGE=0
DB_CONN_HEALTH_CHECKS=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
